/* CSS for 'pages/about.html' */

#aboutme {
    width: 50%;
    height: fit-content;
    padding: 1rem;

    background-color: var(--main-color);

    border-radius: .5rem;

    box-shadow: 5px 5px 10px black;
}

#aboutme H1 {
    text-align: center;
}

#aboutme p {
    text-indent: 1rem;
    text-align: center;
}

@media (max-width: 990px) {
    #aboutme {
        width: 80%;

        text-align: justify;
    }

    #aboutme p {
        text-align: justify;
    }
}  

