/* CSS for 'pages/about.html' */

#aboutme {
    width: 35%;
    height: fit-content;

    background-color: var(--main-color);

    box-shadow: 5px 5px 10px black;
}

#aboutme p {
    text-indent: 1rem;
    text-align: center;
}

@media (max-width: 990px) {
    #aboutme {
        width: 80%;
    }

    #aboutme p {
        text-align: justify;
    }
}  

