/* =================header section================= */

header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

    height: -webkit-fit-content;

    height: -moz-fit-content;

    height: fit-content;
    width: 100%;
}


.header-container {
    margin-top: 10px;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    width: -webkit-fit-content;

    width: -moz-fit-content;

    width: fit-content;
    background-color: var(--main-color);

    -webkit-box-shadow: 5px 5px 10px black;

            box-shadow: 5px 5px 10px black;
}


#site-logo {
    margin-right: 2rem;
}

.site-top-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1rem;
}

.site-top-nav a {
    text-decoration: none;
    color: var(--text-color);
}

.nav-case {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    -webkit-box-shadow: 0px 0px 10px var(--second-color);

            box-shadow: 0px 0px 10px var(--second-color);

    background-color: var(--main-black);
    border-radius: 0.5rem;

    font-size: 1.2em;
    
    padding: 10px;

    -webkit-transition: .4s ease-in-out;

    -o-transition: .4s ease-in-out;

    transition: .4s ease-in-out;
}

.nav-case:hover {
    background-color: var(--third-color);
    color: var(--main-black);

    padding: 10px;

    border-radius: 0.5rem;

    -webkit-box-shadow: 10px 5px 5px var(--second-color);

            box-shadow: 10px 5px 5px var(--second-color);
    scale: 1.05;
}

.nav-case:nth-child(5) :hover {
    -webkit-filter: invert(1);
            filter: invert(1);
}


@media (max-width: 720px) {


    .nav-case {
        padding: 0px;
        font-size: 0.8rem;
        padding: 0.2rem;
    }

    .site-top-nav {
        gap: .3rem;

        padding: 5px;
    }
}

/* =================main section================= */

main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

    min-height: 85vh;
    width: 100%;

    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* =================footer section================= */

footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

    width: 100%;
}

.footer-container {
    width: 100%;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;

    background-color: var(--main-black);
    padding: 5px;

    -webkit-box-pack: center;

        -ms-flex-pack: center;

            justify-content: center;
}

#contact {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;

    gap: .8rem;
}

#contact div {
    width: 100%;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    background-color: var(--second-color);
    padding: 5px;
    
    gap: 10px;

    border-radius: 0.5rem;
}

#contact a {
    text-decoration: none;
    color: var(--text-color);
}

.connect-logos {
    width: 1.6em;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}

.site-bottom-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1.2rem;
}

.site-bottom-nav a {
    color: var(--text-color);
}

@media (max-width: 720px) {
    .header-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    #site-logo {
        margin-right: auto;
    }

    .site-bottom-nav a {
        display: none;
    }

    #contact span {
        display: none;
    }
}