.iso {
    background-color: rgba(12, 3, 3, 0.622);
    padding: 0.5em;
    margin: 1em;
    font-size: 2em;
    display: flex;
    flex-direction: row;
    width: 20em;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    transition: transform .3s
}

.iso:hover {
    transform: scale(1.1);
}

.iso img {
    width: 60px;
    height: 60px;
}

.iso-name {
    padding-left: 1em;
}

.iso-name a {
    color: whitesmoke;
}

main {
    display: flex;
    flex-direction:column;
}

@media only screen and (max-width: 1080px) {
    .iso {
        font-size: 1em;
    }

    .iso img {
        width: 35px;
        height: 35px;
    }
}