#soft-pages {
    display: flex;
    justify-content: baseline;
}

.soft-page {
    width: 8em;
    text-align: center;
    font-size: 1.2em;
    border-radius: 10px;
    margin: 1em;
    padding: 1em;
    background: rgba(12, 3, 3, 0.622);
    transition: transform .3s
}

.soft-page:hover{
    transform: scale(1.2);
}

.soft-page a {
    color: whitesmoke;
}

.soft-page img {
    height: 4.5em;
}