@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
* {
    font-family: "JetBrains Mono", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background-image: url("../images/backgorund_1.jpg");
    background-color: #cccccc;
    background-position: center;
    background-attachment: fixed;
    color: whitesmoke;
}

header {
    display: flex;
    margin-left: 10em;
    margin-right: 10em;
    justify-content: center;
}

.flex-header {
    width: max(80%, 600px);
    display:flex;
    background-color: rgba(12, 3, 3, 0.622);
    flex-direction: row;
    border-radius: 10px;
}

.site-name {
    color: whitesmoke;
    width: 15%;
    font-size: 1.2em;
    align-content: center;
    padding-left: 5%;
    padding-right: 5%;
}

.nav {
    padding-left: 3em;
    flex-direction: row;
    color: whitesmoke;
    width: 55%;
    align-content: center;
}

.nav li {
    justify-content: center;
    display: flex;
    padding-right: 4em;
    padding-left: 1em;
    display: inline;
    justify-content: space-between;
    font-size: 1.3em;
}

.nav a {
    color: whitesmoke;
}

.nav a:hover{
    transform: scale(1.1);
}

/* ----------MAIN---------- */
main {
    display: flex;
    padding-top: 5%;
    justify-content: center;
}

#description {
    text-align: center;
    opacity: 50%;
    background-color: black;
    border-radius: 15px;
    width: 40%;
    padding: 2em;
	height: fit-content;
	margin: 10px;
    font-size: 1.4em;
    margin-left: auto;
    margin-right: auto;
}

#whoami H1 {
    position: relative;
    font-size: 3em;
    font-weight: 600;
}

@media only screen and (max-width: 1080px) {
    #whoami H1 {
        font-size: 1.2em;
    }
    #description {
        font-size: 1em;
        width: 60%;
    }
    .site-name {
        font-size: 0.8em;
    }
    .nav li {
        font-size: 0.7em;
    }
}
