@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html {
    font-size: 16px;
}

@media (max-width: 720px) {
    
}

/* Сброс отступов от границ документа */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

* {
    font-family: "JetBrains Mono", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variant: normal;

    font-weight: 500;
}
* {
    --main-color: hsla(0, 0%, 0%, 0.8);
    --second-color: hsla(0, 0%, 40%, 0.8);
    --third-color: hsla(0, 0%, 80%, 0.8);

    --main-black: black;

    --text-color: whitesmoke;
}

:root {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}

/* =================body param================= */

body {
    background-image: url("../images/background/bg1.jpg");

    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;

    background-size: cover;

    color: var(--text-color);
}
